{% extends 'bash.html' %}
{% load static %}
{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 97%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
</style>

<section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">CHEQUE DETAILS</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="{% url 'logout' %}" method="post" id="my_form">
            {% csrf_token %}
            <button type="submit" ></button>
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"style="margin-left:10px; text-decoration:none;"> Logout </a>

            </form>
        </div>
    </nav>

    <div class="home-content">


      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Edit Record</div>
          <hr>
          <div class="sales-details">
            <form method="post" class="post-form" action="{% url 'editChequeDeatils' chequeDetails.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                <br>
                <div class="form-group row">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Cheque No:</label>
                        <div class="col-sm-6">
                          <input type="text" value="{{chequeDetails.chequeNo}}" name="chequeNo" id="chequeNo" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label">Chaque Date:</label>
                        <div class="col-sm-6">
                        <input type="date" dataformatas="YYYY-MM-DD"  name="chaqueDate" style="padding:5px; width:300px"
                                               forma id="chaqueDate"
                                               maxlength="100" value="{{chequeDetails.chaqueDate|date:'Y-m-d'}}"/>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Lanline/Phone No:</label>
                        <div class="col-sm-6">
                          <input type="text" value="{{chequeDetails.lan_phoNo}}" name="lan_phoNo" id="lan_phoNo" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Amount:</label>
                        <div class="col-sm-6">
                          <input type="text" value="{{chequeDetails.amount}}" name="amount" id="amount" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Challan Number:</label>
                        <div class="col-sm-6">
                          <input type="text" value="{{chequeDetails.challanNumber}}" name="challanNumber" id="challanNumber" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Person Collecting Cheque:</label>
                        <div class="col-sm-6">
                          <input type="text" value="{{chequeDetails.personCollectingCheque}}" name="personCollectingCheque" id="personCollectingCheque" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}