{% extends 'adminbash.html' %}
{% load static %}
{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 97%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
</style>

<section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">STOCK</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="{% url 'logout' %}" method="post" id="my_form">
            {% csrf_token %}
            <button type="submit" ></button>
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"style="margin-left:10px; text-decoration:none;"> Logout </a>

            </form>
        </div>
    </nav>

    <div class="home-content">


      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Add Stock</div>
          <hr>
          <div class="sales-details">
            <form method="post" class="post-form" action="{% url 'addStock' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                <br>
                <div class="form-group row">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Date:</label>
                        <div class="col-sm-3" >
                           <input required type="date" name="date" id="date" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label ">SSA:</label>
                        <div class="col-sm-3" >
                           <select class="ssa-dropdown" name="ssa" id="ssa" style="padding:5px; width:300px">
                                <option selected disabled>--Selected--</option>
                           {% for s in ssa %}
                                <option value="{{s.pk}}">{{s.ssa}}</option>
                           {% endfor %}
                           </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">CSC:</label>
                        <div class="col-sm-3" >
                           <select class="csc-dropdown" name="csc" id="csc" style="padding:5px; width:300px">
                                <option selected disabled>--Selected--</option>
                           </select>
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Station Id:</label>
                        <div class="col-sm-3" >
                           <select class="station_id-dropdown" name="station_id" id="station_id" style="padding:5px; width:300px">
                                <option selected disabled>--Selected--</option>
                           </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">CBP Value(amount):</label>
                        <div class="col-sm-3" >
                           <input required type="text" name="CBPValue" id="CBPValue" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">C Top Value(amount):</label>
                        <div class="col-sm-3" >
                           <input required type="text" name="C_TopValue" id="C_TopValue" style="padding:5px; width:300px">
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Normal Sim Sale:</label>
                        <div class="col-sm-3" >
                           <input required type="text" name="NormalSimSale" id="NormalSimSale" style="padding:5px; width:300px">
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Mnp Sim:</label>
                        <div class="col-sm-3" >
                           <input required type="text" name="MnpSim" id="MnpSim" style="padding:5px; width:300px">
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Swapping:</label>
                        <div class="col-sm-3" >
                           <input required type="text" name="Swapping" id="Swapping" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Post paid Sim:</label>
                        <div class="col-sm-3" >
                           <input required type="text" name="PostpaidSim" id="PostpaidSim" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}