{% extends 'adminbash.html' %}
{% load static %}
{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 97%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
</style>

<section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">FUNDS</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="{% url 'adminlogout' %}" method="post" id="my_form">
            {% csrf_token %}
            <button type="submit" ></button>
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"style="margin-left:10px; text-decoration:none;"> Logout </a>

            </form>
        </div>
    </nav>

    <div class="home-content">


      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Edit Funds</div>
          <hr>
          <div class="sales-details">
            <form method="post" class="post-form" action="{% url 'adminEditFunds' funds.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                <br>
                <div class="form-group row">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Deposit Name:</label>
                        <div class="col-sm-3" >
                           <input type="text" name="depositName" id="depositName" value="{{funds.depositName}}" style="padding:5px; width:300px">
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Select CSC  :</label>
                        <div class="col-sm-6">
                          <select class="col-sm-4" name="csc" id="csc" style="padding:5px; width:300px">
                              <option>{{funds.csc}}</option>
                            {% for inc in allCSC %}
                            <option>{{inc.csc}}</option>
                                {% endfor %}
                          </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Total Amount:</label>
                        <div class="col-sm-3" >
                           <input type="text" name="totalAmount" id="totalAmount" value="{{funds.totalAmount}}" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Deposit Amount:</label>
                        <div class="col-sm-3" >
                           <input type="text" name="depositAmount" id="depositAmount" value="{{funds.depositAmount}}" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Cash In Hand:</label>
                        <div class="col-sm-3" >
                           <input type="text" name="cashInHand" id="cashInHand" value="{{funds.cashInHand}}" style="padding:5px; width:300px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}