{% extends 'adminbash.html' %}
{% load static %}
{% block content %}
<link
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 130%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">CASH REPORT</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div>
         <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="{% url 'logout' %}" method="post" id="my_form">
            {% csrf_token %}
            <button type="submit" ></button>
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"style="margin-left:10px; text-decoration:none;"> Logout </a>

            </form>
        </div>
    </nav>
    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Daily Cash Report</div>
                <div class="sales-details">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="table-responsive">

                            <table id="bootstrapdatatable" style="width:100%"
                                   class="table table-striped table-bordered" width="100%">

                                  <hr>

                             <span ><b>From</b></span><input type="date"  placeholder="from" style="margin:0 0 10px 10px; width:150px" name="from_date" {% if dateOn  %} value="{{ dateOn }}" {% endif %}>
                                &nbsp &nbsp<span><b>To</b></span><input type="date" style="margin:0 0 10px 10px; width:150px" name="to_date" {% if to_date  %} value="{{ to_date }}" {% endif %}>

                                <input type="text" name="ssa" placeholder="Search SSA..."
                                       id="ssa" style="margin:0 0 10px 10px;padding:8px; width:250px" {% if ssa  %} value={{ ssa }}{% endif %}>

                                <input type="text" name="staffName" placeholder="Search User Name..."
                                       id="staffName" style="margin:0 0 10px 10px;padding:8px; width:250px" {% if staffName  %} value={{ staffName }}{% endif %}>

                                <input class="btn btn-primary" type="submit" name="search" value="search"
                                       style="border:2px solid black;margin:0 0 0 10px;padding:8px 25px">
<!--                                 <input class="btn btn-primary" id="clear_btn" type="submit" name="clear" value="clear" -->
<!--                                        style="border:2px solid black;margin:0 0 0 10px;padding:8px 25px"> -->



                                <hr>
                                <thead>
                                <th>Date</th>
                                <th>Station Id</th>
                                <th>SSA</th>
                                <th>CSC</th>
                                <th>username</th>
                                <th>aadharCash</th>
                                <th>CBP cash</th>
                                <th>C Top Cash</th>
                                <th>Normal Sim Cash</th>
                                <th>Mnp Sim Cash</th>
                                <th>Swapping Sim Cash</th>
                                <th>Postpaid Sim Cash</th>
                                <th>Daily Total Collection</th>
                                <th>Opeing Cash Balance</th>
                                <th>Cash In Hand</th>
<!--                                 <th>Edit</td> -->
<!--                                 <th>Delete</th> -->

                                </thead>
                                {% csrf_token %}
                                {% for task in dailyCashWork %}
                                <tr id="{{emp.id}}">
<!--                                     <td><input type="checkbox" name="task_id[]" value="{{task.id}}" -->
<!--                                                id="delete_task"/></td> -->
                                    <td><h5 style="align:center">{{task.date}}</h5></td>
                                    <td><h5 style="align:center">{{task.station_id}}</h5></td>
                                    <td><h5 style="align:center">{{task.ssa}}</h5></td>
                                    <td><h5 style="align:center">{{task.csc}}</h5></td>
                                    <td><h5 style="align:center">{{task.username}}</h5></td>
                                    <td><h5 style="float:right">{{task.aadharCash|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.CBPcash|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.C_TopCash|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.NormalSimCash|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.MnpSimCash|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.SwappingSimCash|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.PostpaidSimCash|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.DailyTotalCollection|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.opeingCashBalance|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.cashInHand|floatformat:2}}</h5></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
$(document).ready(function(){
     $('#clear_btn').click(function(){
        window.location.replace("admindailyCashReport");
     })
    })
</script>

{% endblock %}