{% extends 'adminbash.html' %}
{% load static %}
{% block content %}
<link
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 130%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


</style>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">STOCK</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div>
         <div class="profile-details">
            <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
            <form action="{% url 'logout' %}" method="post" id="my_form">
            {% csrf_token %}
            <button type="submit" ></button>
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"style="margin-left:10px; text-decoration:none;"> Logout </a>

            </form>
        </div>
    </nav>
    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Stock List</div>
                <div class="sales-details">
                    <form method="post" enctype="multipart/form-data" style="width:100%">
                        {% csrf_token %}
                        <div class="table-responsive">

                            <table id="bootstrapdatatable" style="width:100%s"
                                   class="table table-striped table-bordered" width="100%">


                                <hr>
                                <thead>
                                <th>Date</th>
                                <th>Station Id</th>
                                <th>SSA</th>
                                <th>CSC</th>
                                <th>CBP Value</th>
                                <th>C Top Value</th>
                                <th>Normal Sim Sale</th>
                                <th>Mnp Sim</th>
                                <th>Swapping</th>
                                <th>Postpaid Sim</th>

                                </thead>
                                {% csrf_token %}
                                {% for task in stockDetails %}
                                <tr id="{{emp.id}}">
                                    <td><h5 style="align:center">{{task.date}}</h5></td>
                                    <td><h5 style="align:center">{{task.station_id}}</h5></td>
                                    <td><h5 style="align:center">{{task.ssa.ssa}}</h5></td>
                                    <td><h5 style="align:center">{{task.city.csc}}</h5></td>
                                    <td><h5 style="float:right">{{task.CBPValue|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.C_TopValue|floatformat:2}}</h5></td>
                                    <td><h5 style="float:right">{{task.NormalSimSale}}</h5></td>
                                    <td><h5 style="float:right">{{task.MnpSim}}</h5></td>
                                    <td><h5 style="float:right">{{task.Swapping}}</h5></td>
                                    <td><h5 style="float:right">{{task.PostpaidSim}}</h5></td>

                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}